{% extends 'base.html' %}

{% block title %}
    Image Details
{% endblock title %}

{% block content %}
    <h1>Image Details</h1>
    {% if user.is_authenticated %}
        <h2>Add comment on image <button class="toggle-button btn btn-primary">+</button></h2>
        <form method="POST" action="{% url 'add_comment' image_upload.id %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
    {% else %}
        <p>You must <a href="{% url "login" %}">login</a> to see this content</p>
    {% endif %}
    <br><br>
    <div class="image-card">
        <img src="{{ image_upload.image.url }}" alt="User-uploaded image containing text described below">
        <br><br>
        <p>{{ image_upload.text }}</p>
    </div>
    <h2>Comments</h2>
    <div class="infinite-container">
        {% for comment in comments %}
            <div class="comment-card infinite-item">
                <h3>{{ comment.author.username|default:"anonymous" }}</h3>
                <p>{{ comment.text }}</p>
            </div>
        {% empty %}
            <p>No comments</p>
        {% endfor %}
    </div>

    {% if comments.has_next %}
        <a class="infinite-more-link" href="{% url 'one_image' image_upload.id %}?page={{ comments.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock content %}