{% extends 'base.html' %}

{% block title %}
    All Images
{% endblock title %}

{% block content %}
    <h1>All Images<h1>
    <h2>Upload new image <button class="toggle-button btn btn-primary">+</button></h2>
    <form method="POST" enctype="multipart/form-data" action="{% url 'analyze_image' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
    <br>
    <h2>Uploaded Images</h2>
    <div class="infinite-container">
        {% for image in images %}
            <div class="image-card infinite-item">
                <img src="{{ image.image.url }}" alt="User-uploaded image containing text described below">
                <br><br>
                <p>{{ image.text }}</p>
                <a href="{% url 'one_image' image.id %}" class="btn btn-primary">Go to image details</a>
            </div>
            <br>
        {% empty %}
            <p>No images</p>
        {% endfor %}
    </div>

    {% if images.has_next %}
        <a class="infinite-more-link" href="{% url "images" %}?page={{ images.next_page_number }}">More</a>
    {% endif %}

    <div class="loading" style="display: none;">
        Loading...
    </div>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>
{% endblock content %}